body{
    background: rgb(2,0,40);
    background: linear-gradient(90deg, rgba(2,0,40,1) 0%, rgba(0,47,62,1) 100%);
}

.fundo{
    background: rgb(124,0,0);
    background: linear-gradient(328deg, rgba(124,0,0,1) 0%, rgba(4,30,94,1) 49%, rgba(33,0,0,1) 100%);
    width: 60%;
    height: 40%;
    border-radius: 1em;
    padding: 1em;
    position: absolute;
    top: 65%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 2px 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.text_1{
    color: white;
    font-size: 40px;
    text-align: center;
    margin-top: 2.5em;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
}

.text_2{
    font-family: 'Roboto', sans-serif;
    color: rgb(202, 202, 202);
    margin-top: 30px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
}

